<div class="container-antenna">
  <div>
    <mat-button-toggle-group class="button-toggle">
      <mat-button-toggle
        mat-flat-button
        color="primary"
        class="button-create"
        (click)="openDialogAntenna('create')"
      >
        <i class="material-icons">add</i> Añadir Nueva Antena
      </mat-button-toggle>
      <mat-button-toggle mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="button-menu">
        <i class="material-icons">apps</i>
      </mat-button-toggle>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showFilter()">
          <mat-icon>{{ !filterView ? "filter_alt" : "filter_alt_off" }}</mat-icon>
          <span>{{ !filterView ? "Ver Filtro" : "Ocultar Filtro" }}</span>
        </button>
      </mat-menu>
    </mat-button-toggle-group>
  </div>

  <div class="container-actions" [formGroup]="formFilterAntennas" *ngIf="filterView">
    <mat-form-field appearance="fill" class="children-actions">
      <mat-label>Modo de Operación</mat-label>
      <mat-select
        formControlName="selectModeOperation"
        (selectionChange)="filterModeOperationAntennas()"
      >
        <mat-option
          *ngFor="let antennaType of selectDataAntennas"
          [value]="antennaType"
        >
          {{ antennaType }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="children-actions">
      <mat-label>IP Antena</mat-label>
      <input
        matInput
        placeholder="IP Antena"
        (blur)="filterInputsAntennas('device_ip')"
        formControlName="device_ip"
      />
      <!--mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</°mat-error-->
    </mat-form-field>

    <mat-form-field appearance="fill" class="children-actions">
      <mat-label>Nombre Antena</mat-label>
      <input
        matInput
        placeholder="Nombre Antena"
        (blur)="filterInputsAntennas('name_device')"
        formControlName="name_device"
      />
      <!--mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</°mat-error-->
    </mat-form-field>

    <mat-form-field appearance="fill" class="children-actions">
      <mat-label>SSID Sectorial</mat-label>
      <input
        matInput
        placeholder="SSID Sectorial"
        (blur)="filterInputsAntennas('ssid_sectorial')"
        formControlName="ssid_sectorial"
      />
      <!--mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</°mat-error-->
    </mat-form-field>
  </div>

  <div class="container-table-antenna">
    <table
      mat-table
      [dataSource]="tableDataSourceAntennas"
      class="mat-elevation-z8 table-antenna"
    >
      <ng-container matColumnDef="i">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="name_device">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name_device }}</td>
      </ng-container>
      <ng-container matColumnDef="antena_type">
        <th mat-header-cell *matHeaderCellDef>Tipo de Antena</th>
        <td mat-cell *matCellDef="let element">{{ element.antena_type }}</td>
      </ng-container>
      <ng-container matColumnDef="device_ip">
        <th mat-header-cell *matHeaderCellDef>IP</th>
        <td mat-cell *matCellDef="let element">{{ element.device_ip }}</td>
      </ng-container>
      <ng-container matColumnDef="device_location">
        <th mat-header-cell *matHeaderCellDef>Ubicación</th>
        <td mat-cell *matCellDef="let element">
          {{ element.device_location }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <span title="Editar Antena"
            ><button
              mat-mini-fab
              color="primary"
              (click)="openDialogAntenna('edit')"
            >
              <i class="material-icons">edit</i>
            </button></span
          >
          <span title="Bloquear Antena"
            ><button mat-mini-fab color="warn">
              <i class="material-icons">block</i>
            </button></span
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableDisplayedColumnsAntennas"></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: tableDisplayedColumnsAntennas;
          let i = index
        "
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Seleccionar pagina de la Antena"
    ></mat-paginator>
  </div>
</div>
