<mat-toolbar class="mat-toolbar">
  <span>Lansanet SAS</span>
  <span class="spacer"></span>

  <div fxLayout="row" fxLayoutAlign="center">
    <span class="user__name">UwU</span>
  </div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Menú">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['manage-roles']">
        <mat-icon>group</mat-icon>
        <span>Administrar Roles</span>
      </button>
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Página Principal</span>
      </button>
      <button mat-menu-item [routerLink]="['/login']">
        <mat-icon>logout</mat-icon>
        <span>Salir de la Aplicación</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
