<div class="container-map">
  <div class="form-travel">
    <button
      mat-raised-button
      color="primary"
      class="btn-spand-travel"
      (click)="showFormTravelHanddler()"
    >
      <h2>Pedir un Viaje</h2>
    </button>
    <form
      class="form-container-travel"
      [formGroup]="formTravelGroup"
      *ngIf="showFormTravel"
    >
      <mat-form-field class="text-area-input" appearance="fill">
        <mat-label>Comentario</mat-label>
        <textarea
          matInput
          formControlName="comment"
          required
          rows="4"
        ></textarea>
        <mat-error>{{ getErrorMessage("comment") }}</mat-error>
      </mat-form-field>
      <button mat-fab color="warn" type="button" (click)="sendCreateTravel()">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
  <div class="container-site-work">
    <div class="container-mapa-main">
      <app-map-screen  (selectedPoitns)="selectedPoitnsHanddler($event)"></app-map-screen>
    </div>
    <div *ngIf="true" class="container-panel-task">
      <mat-card class="card-item-travel">
        <mat-card-subtitle>Hace 10 min</mat-card-subtitle>
        <mat-card-title>Nombre Cliente</mat-card-title>
        <mat-card-content>
          <p>Viaje para la ubicación 10 de mayo</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary">Mostrar en el Mapa</button>
          <button mat-raised-button color="accent">Aceptar</button>
        </mat-card-actions>
      </mat-card>
      <br>
      <mat-card class="card-item-travel">
        <mat-card-subtitle>Hace 10 min</mat-card-subtitle>
        <mat-card-title>Nombre Cliente</mat-card-title>
        <mat-card-content>
          <p>Viaje para la ubicación 10 de mayo</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary">Mostrar en el Mapa</button>
          <button mat-raised-button color="accent">Aceptar</button>
        </mat-card-actions>
      </mat-card>
      <br>
      <mat-card class="card-item-travel">
        <mat-card-subtitle>Hace 10 min</mat-card-subtitle>
        <mat-card-title>Nombre Cliente</mat-card-title>
        <mat-card-content>
          <p>Viaje para la ubicación 10 de mayo</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary">Mostrar en el Mapa</button>
          <button mat-raised-button color="accent">Aceptar</button>
        </mat-card-actions>
      </mat-card>
      <br>
      <mat-card class="card-item-travel">
        <mat-card-subtitle>Hace 10 min</mat-card-subtitle>
        <mat-card-title>Nombre Cliente</mat-card-title>
        <mat-card-content>
          <p>Viaje para la ubicación 10 de mayo</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary">Mostrar en el Mapa</button>
          <button mat-raised-button color="accent">Aceptar</button>
        </mat-card-actions>
      </mat-card>
      <br>
      <mat-card class="card-item-travel">
        <mat-card-subtitle>Hace 10 min</mat-card-subtitle>
        <mat-card-title>Nombre Cliente</mat-card-title>
        <mat-card-content>
          <p>Viaje para la ubicación 10 de mayo</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary">Mostrar en el Mapa</button>
          <button mat-raised-button color="accent">Aceptar</button>
        </mat-card-actions>
      </mat-card>
      <br>
      <mat-card class="card-item-travel">
        <mat-card-subtitle>Hace 10 min</mat-card-subtitle>
        <mat-card-title>Nombre Cliente</mat-card-title>
        <mat-card-content>
          <p>Viaje para la ubicación 10 de mayo</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary">Mostrar en el Mapa</button>
          <button mat-raised-button color="accent">Aceptar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
