<div class="container-map">
  <div class="form-travel">
    <button
      mat-raised-button
      color="primary"
      class="btn-spand-travel"
      (click)="showFormTravelHanddler()"
    >
      <h2>Pedir un Viaje</h2>
    </button>
    <form
      class="form-container-travel"
      [formGroup]="formTravelGroup"
      *ngIf="showFormTravel"
    >
      <mat-form-field class="text-area-input" appearance="fill">
        <mat-label>Comentario</mat-label>
        <textarea
          matInput
          formControlName="comment"
          required
          rows="4"
        ></textarea>
        <mat-error>{{ getErrorMessage("comment") }}</mat-error>
      </mat-form-field>
      <button mat-fab color="warn" type="button" (click)="sendCreateTravel()">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
  <div class="container-mapa-main">
    <app-map-screen  (selectedPoitns)="selectedPoitnsHanddler($event)"></app-map-screen>
  </div>
</div>
