<div class="container-dialog">
  <h2 class="subtitle">Crear Nueva Antena</h2>
  <form [formGroup]="formDialogGroup">
    <h4>Información General de la Antena</h4>
    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Nombre del Dispositivo</mat-label>
      <input
        matInput
        type="text"
        formControlName="name_device"
        cdkFocusInitial
        required
      />
      <mat-error>{{ getErrorMessage("name_device") }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-input" appearance="fill">
      <mat-label>MAC Dispositivo</mat-label>
      <input matInput type="text" formControlName="mac_device" required />
      <mat-error>{{ getErrorMessage("mac_device") }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Canal del Dispositivo</mat-label>
      <input matInput type="text" formControlName="channel" />
    </mat-form-field>
    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Frecuencia Dispositivo</mat-label>
      <input matInput type="text" formControlName="frequency" required />
      <mat-error>{{ getErrorMessage("frequency") }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Pais del Dispositivo</mat-label>
      <mat-select formControlName="country">
        <mat-option value="Colombia">Colombia</mat-option>
        <mat-option value="United Kingdom">United Kingdom</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Potencia del Dispositivo</mat-label>
      <input matInput type="number" formControlName="potency" min="0" />
      <mat-error>{{ getErrorMessage("potency") }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Tipo de Antena</mat-label>
      <input matInput type="text" formControlName="antena_type" required />
      <mat-error>{{ getErrorMessage("antena_type") }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Version del Dispositivo</mat-label>
      <input matInput type="text" formControlName="device_version" />
    </mat-form-field>
    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Modo de Operación</mat-label>
      <mat-select
        formControlName="mode_operation"
        (selectionChange)="changeModeOp()"
      >
        <mat-option value="AccessPoint">Access Point</mat-option>
        <mat-option value="Station">Station</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Modo Punto a Punto</mat-label>
      <mat-select formControlName="point_to_point">
        <mat-option value="true">Si</mat-option>
        <mat-option value="false">No</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-input-all" appearance="fill">
      <mat-label>IP de la Antena</mat-label>
      <input matInput type="text" formControlName="device_ip" required />
      <mat-error>{{ getErrorMessage("device_ip") }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-input-all" appearance="fill">
      <mat-label>Ubicación del Dispositivo</mat-label>
      <input matInput type="text" formControlName="device_location" required />
      <mat-error>{{ getErrorMessage("device_location") }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Usuario del Dispositivo</mat-label>
      <input matInput type="text" formControlName="device_user" required />
      <mat-error>{{ getErrorMessage("device_user") }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Contraseña del Dispositivo</mat-label>
      <input
        matInput
        type="password"
        formControlName="device_password"
        required
      />
      <mat-error>{{ getErrorMessage("device_password") }}</mat-error>
    </mat-form-field>

    <h4>Información Relacionada al AP</h4>
    <mat-form-field class="form-input" appearance="fill" *ngIf="stationMO">
      <mat-label>Sectoriales</mat-label>
      <mat-select
        formControlName="point_to_point"
        (selectionChange)="selectionAC($event)"
      >
        <mat-option *ngFor="let sectorial of listSectoriales" value="{{ sectorial._id }}">{{
          sectorial.ssid_sectorial
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-input" appearance="fill" *ngIf="!stationMO">
      <mat-label>SSID Sectorial</mat-label>
      <input matInput type="text" formControlName="ssid_sectorial" required />
      <mat-error>{{ getErrorMessage("ssid_sectorial") }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Contraseña Inalambrica</mat-label>
      <input
        matInput
        type="text"
        formControlName="wireless_security"
        required
      />
      <mat-error>{{ getErrorMessage("wireless_security") }}</mat-error>
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="closeAlert()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="submitAntenna()">
      Crear
    </button>
  </div>
</div>
